@font-face {
    src: url("fonts/Lato-Italic.ttf");
}

.button {
    -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#a4231a, #a4231a),
    linear-gradient(#fff6f6 0%, #c2c2c2 20%, #afafaf 80%, #fff6f6 100%),
    linear-gradient(#fff6f6 0%, #ffffff 50%, #ffffff 51%, #fff6f6 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Lato Italic";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #a4231a;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
